# DOCKER 
DOCKER_DEPLOYMENT=prod
RESTFUL_KEY=<SECRET_TANGO_KEY_REPLACE_ME>
DOCKER_REDIS_HOSTNAME=redis
# Path to volumes within the Tango container. Does not need to be modified.
DOCKER_VOLUME_PATH=/opt/TangoService/Tango/volumes
# Modify the below to be the path to volumes on your host machine
DOCKER_TANGO_HOST_VOLUME_PATH=/home/ec2-user/autolab-docker/Tango/volumes
# set to false for no SSL (not recommended)
DOCKER_SSL=true

# AUTOLAB
SECRET_KEY_BASE=<SECRET_KEY_BASE_REPLACE_ME>
LOCKBOX_MASTER_KEY=<LOCKBOX_MASTER_KEY_REPLACE_ME>
DEVISE_SECRET_KEY=<DEVISE_SECRET_KEY_REPLACE_ME>

# TANGO
RESTFUL_HOST=tango
RESTFUL_PORT=3000
RESTFUL_KEY=<SECRET_TANGO_KEY_REPLACE_ME>

# SMTP SETTINGS
SMTP_SETTINGS_ADDRESS=smtp.example.com
SMTP_SETTINGS_PORT=25
SMTP_SETTINGS_ENABLE_STARTTLS_AUTO=true
SMTP_SETTINGS_AUTHENTICATION=login
SMTP_SETTINGS_USER_NAME=example
SMTP_SETTINGS_PASSWORD=example
SMTP_SETTINGS_DOMAIN=example.com
SMTP_DEFAULT_FROM=from@example.com
HOST_PROTOCOL=http
HOST_DOMAIN=example.com

# MYSQL
MYSQL_DATABASE=autolab_development
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password

# GITHUB
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
